.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.3rem;
    span {
        text-decoration: none;
        color: #F5F5F5;
    }
    span:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}