.interests-container {
    h1 {
        padding-top: 4rem;
    }
    p {
        padding: 2rem;
    }
        p {
            font-size: calc(.7rem + 0.9vw);
        }
}

.profile-photo {
    max-width: 6rem;
    border-radius: 360px;
}

