.intro-container {
    min-height:40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        width: 130px;
    }
    p {
        font-size: calc(1rem + 0.9vw);
    }
}