.skills-icons {
  display: inline-flex;
  position:relative;
}

.skills-icons:hover:after {
  content: attr(id);
  position: absolute;
  top: -25px;
  width: fit-content;
  left: -12px;
  background-color: #F5F5F5;
  z-index: 1;
  font-size: 1rem;
  color: #3C2B3E;
  border-radius: 5px;
  border-color:#3C2B3E;
  padding: 0.2rem;
}