@import 'bootstrap/dist/css/bootstrap.min.css';
@import './partials/about.scss';
@import './partials/footer.scss';
@import './partials/header.scss';
@import './partials/interests.scss';
@import './partials/intro.scss';
@import './partials/experience.scss';
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
    color: #F5F5F5;
    font-family: 'Kantumruy';
    text-align: center;
}

body {
    background-color: #3C2B3E;
}

h1 {
    font-family: 'Cookie';
    font-size: 48px;
}

.contact-button {
    border-style: solid;
    border-width: 0.2px;
    border-color: #F5F5F5;
    color: #F5F5F5;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #3c2b3e6e;
    border-radius: 2px;
    cursor: pointer;
    padding: .4rem;
}

.contact-button:hover {
    background-color:#F5F5F5;
    color: #3C2B3E;
    border-color: #3C2B3E;
}

section {
    border-bottom: solid;
    border-color: #F5F5F5;
    border-width: 0.2px;
}

.icons {
    border-style: solid;
    border-color: #F5F5F5;
    border-radius: 360px;
    border-width: thin;
    margin: 2px;
}

.icons:hover {
    transform: scale(1.1);
}

.intro-container {
    background: linear-gradient(0deg, rgba(60, 43, 62, 0.7), rgba(60, 43, 62, 0.7)), url('../images/desk-coffee.jpg');
    background-size:cover;
}


.about-container {
    background: linear-gradient(0deg, rgba(60, 43, 62, 0.7), rgba(60, 43, 62, 0.7)), url('../images/dark-theme-laptop.jpg');
    background-size: cover;   
}

.interests-container {
    background: linear-gradient(0deg, rgba(60, 43, 62, 0.7), rgba(60, 43, 62, 0.7)), url('../images/camping.jpg');
    background-size: cover;
}
